PORT=3000
DB_HOST=tu-host.aivencloud.com
DB_PORT=12345
DB_USER=avnadmin
DB_PASSWORD=tu_password
DB_NAME=skymanager
JWT_SECRET=cambia_esto_en_produccion
CORS_ORIGIN=http://localhost:5174,https://TU-FRONT.onrender.com